{%- comment -%}
------------------------------------------------------------------------------------------------------------------------
NOTE TO DEVELOPERS: welcome to Impact theme! We hope that you will enjoy editing this theme as much as we did for
  developing it. We have put a lot of work to make this theme as developer friendly as possible by offering you
  hooks to integrate into critical parts of the theme. You will find the complete technical documentation (including
  all events, dependencies...) in the "documentation.txt" file, located in the Assets folder.
------------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}

<!doctype html>

<html class="no-js" lang="{{ request.locale.iso_code }}" dir="{% render 'direction' %}">
  <head>
 {%- render 'layouthub_header' -%}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="theme-color" content="{{ settings.header_background }}">

    <title>{% if page_title == blank %}{{ shop.name }}{% else %}{{ page_title }}{% if current_page != 1 %} &ndash; {{ 'general.page' | t: page: current_page }}{% endif %}{% endif %}</title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon -%}
      <link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 96 }}">
      <link rel="apple-touch-icon" href="{{ settings.favicon | image_url: width: 180 }}">
    {%- endif -%}

    {%- comment -%}Few prefetch to increase performance on commonly used third-parties{%- endcomment -%}
    <link rel="preconnect" href="https://cdn.shopify.com">
    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    <link rel="dns-prefetch" href="https://productreviews.shopifycdn.com">

    {%- unless settings.heading_font.system? -%}
      <link rel="preload" href="{{ settings.heading_font | font_url }}" as="font" type="font/woff2" crossorigin>
    {%- endunless -%}

    {%- unless settings.text_font.system? -%}
      <link rel="preload" href="{{ settings.text_font | font_url }}" as="font" type="font/woff2" crossorigin>
    {%- endunless -%}

    {%- render 'seo-title' -%}
    {%- render 'social-meta-tags' -%}
    {%- render 'microdata-schema' -%}
    {%- render 'css-variables' -%}
    {%- render 'js-variables' -%}

    <script type="module" src="{{ 'vendor.min.js' | asset_url }}"></script>
    <script type="module" src="{{ 'theme.js' | asset_url }}"></script>
    <script type="module" src="{{ 'sections.js' | asset_url }}"></script>
    <script type="module" src="{{ 'custom.js' | asset_url }}"></script>
    
    {{ content_for_header }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    {{- 'theme.css' | asset_url | stylesheet_tag: preload: true -}}
    {{- 'custom.css' | asset_url | stylesheet_tag: preload: true -}}
  {% capture boostersnippet %}{% include "booster-apps-common" %}{% endcapture %}{% unless boostersnippet contains "Liquid error" %}{{ boostersnippet }}{% endunless %}
<script type="application/ld+json">
{
"@context": "http://schema.org",
"@type": "LocalBusiness",
"image": "https://midwaysports.com/cdn/shop/files/midway-logo-spacing.png?v=1684500886&width=100",
"@id": "https://midwaysports.com/",
"address": {
"@type": "PostalAddress",
    "streetAddress": "6400 S Dixie Hwy #4",
    "addressLocality": "Miami",
    "addressRegion": "Florida",
    "postalCode": "FL 33143",
    "addressCountry": "United States"
},
"description": "Midway Sports is your ultimate destination for all things sports. From top-notch team uniforms to premium sporting gear, we have everything you need to fuel your passion and dominate the game.",
"name": "Midway Sports",
"brand": "Midway Sports",
"email": "contact@midwaysports.com",
"url": "https://midwaysports.com/",
"priceRange": "0 - 0",
"telephone": "+1 786-353-2005",
"hasMap": "https://www.google.com/maps/place/Midway+Sports/@25.6975959,-80.2972933,15z/data=!4m2!3m1!1s0x0:0xc0fc7e084ef6fb28?sa=X&ved=2ahUKEwi01q-O5M2BAxVs2gIHHXlrB0cQ_BJ6BQiRARAA&hl=en&ved=2ahUKEwi01q-O5M2BAxVs2gIHHXlrB0cQ_BJ6BQi0ARAJ",
"openingHours": "Mo,Tu,We,Th,Fr 10:00-19:00",
"geo": {
"@type": "GeoCoordinates",
"latitude": "25.6975959",
"longitude": "-80.2972933"
},
"sameAs" : ["https://www.facebook.com/midwaysports/",
"https://twitter.com/midwaysports",
	"https://www.instagram.com/midwaysportinggoods/"]
}
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "url": "https://midwaysports.com/",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "https://query.midwaysports.com/search?q={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "name": "Midway Sports",
  "alternateName": "Midway Sports",
  "url": "https://midwaysports.com/"
}
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "https://midwaysports.com/",
  "contactPoint": [{
    "@type": "ContactPoint",
    "telephone": "+1 786-353-2005",
    "contactType": "customer service",
	"availableLanguage": "English",
    "areaServed": "ZA"
  }]
}
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "Midway Sports",
  "url": "https://midwaysports.com/",
"sameAs" : ["https://www.facebook.com/midwaysports/",
"https://twitter.com/midwaysports",
	"https://www.instagram.com/midwaysportinggoods/"]
}
</script>
<script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "AggregateRating",
      "itemReviewed": {
        "@type": "ProfessionalService",
        "image": "https://midwaysports.com/cdn/shop/files/midway-logo-spacing.png?v=1684500886&width=100",
        "name": "Midway Sports",
        "priceRange": "$$$",
        "email": "contact@midwaysports.com"
      },
      "ratingValue": "3.7",
      "bestRating": "5",
      "ratingCount": "146"
    }
</script>
</head>

  <body class="{% if settings.show_page_transition %}page-transition{% endif %} {% if settings.zoom_image_on_hover %}zoom-image--enabled{% endif %}">
    {%- render 'shadow-dom-templates' -%}

    <a href="#main" class="skip-to-content sr-only">{{ 'general.accessibility.skip_to_content' | t }}</a>

    {%- if request.page_type != 'password' -%}
      {%- sections 'header-group' -%}
      {%- sections 'overlay-group' -%}

      {%- if settings.cart_type == 'popover' -%}
        <cart-notification-drawer open-from="bottom" class="quick-buy-drawer drawer"></cart-notification-drawer>
      {%- endif -%}
    {%- endif -%}

    {%- if request.page_type == 'customers/account' or request.page_type == 'customers/order' or request.page_type == 'customers/addresses' -%}
      {%- section 'account-banner' -%}
    {%- endif -%}

    <main role="main" id="main" class="anchor">
      <!--LayoutHub-Workspace-Start-->{{ content_for_layout }}<!--LayoutHub-Workspace-End-->

      {%- comment -%}
      IMPLEMENTATION NOTE: due to the very complex logic of margin/padding collapsing in Impact, the footer group is
      added into the main element to ensure that dynamic sections added into the footer group are properly laid out.
      {%- endcomment -%}
      {%- if request.page_type != 'password' -%}
        {%- sections 'footer-group' -%}
      {%- endif -%}
    </main>
  {%- render 'layouthub_footer' -%} 
 {% include 'social-login' %}
<script src="{{'product-recommendation.js' | asset_url }}" defer></script> 
 {%  render  'rebuy-cart-custom-template' %}
</body>
</html>